GITEA_URL=http://localhost:3000
GITEA_VERSION=latest
GITEA_PORT=3000

GITEA_USER=testuser
GITEA_PASS=testpass123
GITEA_EMAIL=testuser@test.com

BROWSER=chromium
HEADLESS=true
RECORD_VIDEO=true

GITEA_WAIT_TIMEOUT=60000
GITEA_WAIT_INTERVAL=2000